<a href="https://colab.research.google.com/github/mgamboa564/PROGCOM-A/blob/main/Clase_2_15_19_de_agosto_Estructuras_de_Repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de Repetición
Permite una o más acciones de acuerdo con una condición (mientras se cumpla la condición)

##Estructura para-for

1. cuando se sabe cuantas veces se repite una acción.
2. esta conformado por una condicion inicial (CI) una condicion final (CF) y pasos (frecuencia de repeticion).
3. Esta estructura no se detendra, hasta alcanzar CF-1

Estructura general del for
```
for (variable) in range (CI,CF+1,paso):
  se repite (CF+1-CI)/paso veces una accion
```

Estructura resumida del for
```
for (variable) in range (cantidad):
  se repite cantidad de veces una accion
```

Estructura for con iteraccion
1. el para (for) itera tantas veces, como elementos tenga la lista.
2. La variable toma el valor de cada elemento de la lista por interacion
```
lista=[1,2,3,4,5]
for (variable) in lista:
  se repite len(lista)
```

In [ ]:
#Hacer la tabla de multiplicar de un numero n

n=int(input("digita un numero: "))
print(f"tabla del {n}")
for holitas in range (1,11,1):
    print(f"{n} x {holitas} = {n*holitas}")

digita un numero: 5
tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Todas las tablas del 1-10

In [ ]:
for tabla in range(1, 11):  # Recorre del 1 al 10
    print(f"\nTabla del {tabla}")
    for i in range(1, 11):  # Cada tabla del 1 al 10
        print(f"{tabla} x {i} = {tabla * i}")

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
print (f"tabla del {n}")
for holitas in range (10):
  print(f"{n} x {holitas+1} = {n*(holitas)}")

tabla del 3
3 x 1 = 0
3 x 2 = 3
3 x 3 = 6
3 x 4 = 9
3 x 5 = 12
3 x 6 = 15
3 x 7 = 18
3 x 8 = 21
3 x 9 = 24
3 x 10 = 27

##Tabla de multiplicar en pasos

In [ ]:
n = int(input("Ingresa el número para la tabla: "))
paso = int(input("Ingresa el paso: "))
print(f"Tabla del {n} con paso {paso}")
for i in range(1, 11, paso):
    print(f"{n} x {i} = {n * i}")

Ingresa el número para la tabla: 4
Ingresa el paso: 3
Tabla del 4 con paso 3
4 x 1 = 4
4 x 4 = 16
4 x 7 = 28
4 x 10 = 40

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num}={n*num}")

4 x 1=4
4 x 2=8
4 x 3=12
4 x 4=16
4 x 5=20
4 x 6=24
4 x 7=28
4 x 8=32
4 x 9=36
4 x 10=40

#listas

1.⁠ ⁠es un tipo de datos
2.⁠ ⁠Todos los elementos de una lista,
**deben** separarse por comas
3.⁠ ⁠Forma canónica para declarar una lista


```
(variable)=[]
```
ejemplo: flores=["amapola", "tulipan", "lengua de suegra", l, dahlia, rosa]

In [ ]:
dahlia= 3 #variable de tipo numérica, int
rosa- "cinco"# variable de tipo alfanumérico, str
flores-["amapola", "tulipan", "lengua de suegra" dahlia, rosa]

4. manual

```
Lista2= [dato1,dato2, dato3...datoN]
```
5. Siempre son finitas
6. son indexadas

```
Lista2= [dato1, dato2, dato3...datoN]
```

dato1 está en el index dato2 está ubicado en el index 2
7. Estructuras para la creación de listas

```
# Ejemplo: Crear una lista de 5 elementos
lista=[]#Para que el programa sepa que es una lista
for loquesea in range (5):
  lista=input("Ingrese el nombre de una flor")
```

In [ ]:
lista=[]
2 for loquesea in range (5):
  lista=input("Ingrese el nombre de una flor")

#EJERCICIOS

##1. Imprimir los números del 1 al 10
Con for normal:

In [ ]:
for i in range(1, 11):
    print(i)

Con lista:

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
for n in numeros:
    print(n)

##2. Sumar los números del 1 al 100
Con for normal:

In [ ]:
suma = 0
for i in range(1, 101):
    suma += i
print("La suma es:", suma)

Con lista:

In [ ]:
numeros = list(range(1, 101))
print("La suma es:", sum(numeros))

##3. Múltiplos de 3 entre 1 y 30
Con for normal:

In [ ]:
for i in range(3, 31, 3):
    print(i)

Con lista:

In [ ]:
numeros = list(range(1, 31))
for n in numeros:
    if n % 3 == 0:
        print(n)

##4. Tabla de multiplicar de un número
Con for normal:

In [ ]:
n = int(input("Ingresa un número: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Con lista:

In [ ]:
n = int(input("Ingresa un número: "))
lista = list(range(1, 11))
for i in lista:
    print(f"{n} x {i} = {n*i}")

##5. Promedio de 5 números
Con for normal:

In [ ]:
suma = 0
for i in range(5):
    num = float(input("Ingresa un número: "))
    suma += num
print("Promedio:", suma/5)

Con lista:

In [ ]:
numeros = []
for i in range(5):
    numeros.append(float(input("Ingresa un número: ")))
print("Promedio:", sum(numeros)/len(numeros))

##6. Contar números pares entre 1 y n
Con for normal:

In [ ]:
n = int(input("Ingresa un número: "))
contador = 0
for i in range(1, n+1):
    if i  2 == 0:
        contador += 1
print("Cantidad de pares:", contador)

Con lista:

In [ ]:
n = int(input("Ingresa un número: "))
numeros = list(range(1, n+1))
pares = [x for x in numeros if x % 2 == 0]
print("Cantidad de pares:", len(pares))